body {
    /*background-image:url(/ImageHandler.ashx?name=0010_animal_bird_1920_1200&size=Thumbnail)*/
}

#DivLogoCat {
    position: relative;
    width: 1000px;
    height: 130px;
    /*background-image: url('../images/howiStockWorks.jpg');*/
    top: 0px;
    left: 0px;
    z-index:0;
}

.HeadCatText {
    min-width: 100px;
    font-family: Georgia;
    font-size: xx-large;
    color: #fff;
    position: absolute;
    top: 60px;
    left: 40px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    z-index: 500;
    background-color: #FF6600;
    padding: 15px;
    opacity: .9;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; /*background-color: #E3F0F1;*/
    text-align: center;
}


.HeadSubCatText {
    
    font-family:Georgia;
    font-size: xx-large;
    color: #fff;
    position: absolute;
  top: 98px;
left: 160px;


 z-index:501;
    background-color:#96BABA;
    padding:15px;
   opacity:.9;
   -webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;


   -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; /*background-color: #E3F0F1;*/
    text-align: center;


  transform: rotate(-10deg);
-ms-transform: rotate(-10deg); /* IE 9 */
-webkit-transform: rotate(-10deg); /* Safari and Chrome */
-o-transform: rotate(-10deg); /* Opera */
-moz-transform: rotate(-10deg); /* Firefox */


}



.DivRandomblockImage {
    position: absolute;
       width: 80px;
    height: 63px;
   opacity:0.8;
}
.DivRandomblockImage:hover{
 
   opacity:1;
   -webkit-transform: rotate(1deg);
transform: rotate(1deg);
z-index:100;
}

.DivImg {

}

/*Set 1*/
.Set1_1 {
   
    left: 431px;
    top: 47px;
-webkit-transform: rotate(5deg);
transform: rotate(5deg);
}

    /*.Set1_1 img {
        width: 92px;
        height: 57px;
    }*/

.Set1_2 {
 
    left: 295px;
    top: 52px;
-webkit-transform: rotate(-5deg);
transform: rotate(-5deg);

}

    /*.Set1_2 img {
        width: 51px;
        height: 60px;
    }*/



.Set1_3 {
    
    left: 362px;
    top: 72px;
}
 

.Set1_4 {
    
    left: 623px;
    top: 27px;
-webkit-transform: rotate(10deg);
transform: rotate(10deg);
}

 

.Set1_5 {
   
    left: 569px;
    top: 55px;
 
}

.Set1_6 {
   
    left: 496px;
    top: 65px;
 
}
  
 

/*End Set1=================*/
/*Set 2*/

.Set2_1 {
   
    left: 405px;
    top: 25px;
-webkit-transform: rotate(5deg);
transform: rotate(5deg);
}

    /*.Set1_1 img {
        width: 92px;
        height: 57px;
    }*/

.Set2_2 {
 
    left: 217px;
    top: 21px;
-webkit-transform: rotate(-5deg);
transform: rotate(-5deg);

}

    /*.Set1_2 img {
        width: 51px;
        height: 60px;
    }*/



.Set2_3 {
    
    left: 313px;
    top: 47px;
}
 

.Set2_4 {
    
    left: 536px;
    top: 25px;
-webkit-transform: rotate(10deg);
transform: rotate(10deg);
}

 

.Set2_5 {
   
    left: 466px;
    top: 62px;
 
}

.Set2_6 {
   -webkit-transform: rotate(-5deg);
    left: 650px;
    top: 40px;
 
}
  
/*End Set 2*/

.catShadow100 {
    /*-moz-box-shadow: 10px 10px 11px 0px #ccc;
    -webkit-box-shadow: 10px 10px 11px 0px #ccc;
    box-shadow: 10px 10px 11px 0px #ccc;*/

    /*-moz-box-shadow: 10px 10px 11px 0px #ccc;
    -webkit-box-shadow: 10px 10px 11px 0px #ccc;
    box-shadow: 10px 10px 11px 0px #ccc;*/
    background-color:#ccc;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	 box-shadow: 0 8px 6px -6px #ccc;

}

.Catradius {
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; /*background-color: #E3F0F1;*/
    text-align: center;
}
