

body {
    /*font-family:  Arial, Tahoma, Helvetica, Sans-Serif;*/
    /*font-family: tahoma,Arial,Helvetica,sans-serif;*/
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    line-height: 130%;
    color: #2A3333;
    font-size: 14px;
    /*font: normal 13px/20px  Arial,sans-serif;*/
    min-height: 500px;
}

img {
    border: none;
}

#bodyContainer {
    display: inline-block;
}

/*Div*/
#DivHeader {
    padding-left: 5px;
    min-height: 20px;
    font-weight: 600;
    /*color: #CFCFCF;*/
    color: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);
    background-color: #3C3C3C;
}


#DivSubHeader {
    padding-left: 5px;
    min-height: 20px;
    font-weight: 600;
    /*color: #CFCFCF;*/
    color: #fff;
    position: fixed;
    left: 0px;
    top: 25px;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);
    background-color: transparent;
}

#thirdpaty {
    float: right;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}


#DivSlideShow {
    margin-bottom: 10px;
}

/*Div Filter left*/
.DivFilter {
    border: thin none #CCC;
    position: relative; /*display:inline-block;*/
    width: 208px;
    /*min-height: 579px;*/
    margin-top: 7px;
    display: none;
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; /*background-color: #E3F0F1;*/
    text-align: center;
}

.DivFilter_Close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 300;
    background-image: url('/scripts/fancybox_sprite.png');
}



.DivFilter > div:first-child {
    margin-bottom: 5px;
}



.DivFilter_Head {
    padding-left: 5px;
    /*font-weight:bold;*/
    font-size: 14px;
    text-align: left;
    color: #fff;
    background-color: #2295AB;
    min-height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-box-shadow: 0 8px 6px -6px #C0C0C0;
    -moz-box-shadow: 0 8px 6px -6px #C0C0C0;
    box-shadow: 0 8px 6px -6px #C0C0C0;
}

.DivFilter_detail {
    padding-top: 7px;
    margin-bottom: 10px;
    display: block;
    /*Fix Height Color*/
    min-height: 30px;
}

/*#DivFilter_color_detail>span {
    border: thin groove #CCFFFF;
    cursor: pointer;
}*/


/*#DivFilter_color_detail span:hover {
        border: thin groove #CCFFFF;
        cursor: pointer;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5),inset 0 -1px 0 #fff;
        -ms-box-shadow: 0 1px 3px rgba(0,0,0,.5),inset 0 -1px 0 #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .5),inset 0 -1px 0 white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5),inset 0 -1px 0 white;
        background-image: linear-gradient(to bottom,white 0,#F0F0F0 100%);
    }*/

#DivFilter_color_detail .DivFilter_color_item {
    border-style: none;
    cursor: pointer;
    min-height: 35px;
    width: 15px;
    display: inline-block;
}

.DivFilter_color_item > span {
    border: thin groove #CCFFFF;
}


/*Size*/
#DivFilter_Size_detail .input {
    border: 1px solid #C0C0C0;
    background: #E3F0F1;
    width: 60px;
    color: rgba(0,0,0,.5);
}

#DivFilter_Size_detail span:first-child {
    display: inline-block;
    padding-right: 2px;
    text-align: center;
    margin-right: 3px;
    width: 20px;
}

#DivFilter_Size_detail .DivFilter_Size_item {
    width: 100%;
    cursor: pointer;
}


.DivFilter_Show {
    float: right;
    padding-right: 5px;
    cursor: pointer;
    font-weight: bold;
}


#DivFilter_color:hover {
    /*-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5),inset 0 -1px 0 #fff;
-ms-box-shadow: 0 1px 3px rgba(0,0,0,.5),inset 0 -1px 0 #fff;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .5),inset 0 -1px 0 white;
box-shadow: 0 1px 3px rgba(0, 0, 0, .5),inset 0 -1px 0 white;
background-image: linear-gradient(to bottom,white 0,#F0F0F0 100%);*/
}
/*=====================================================================*/

#Divmain {
    /*border: thin groove #C0C0C0;*/
    position: relative;
    width: 1000px; /*height: 50px;*/
    left: 50%;
    top: 50%;
    margin-left: -489px;
    margin-top: 10%;
    text-align: center;
    vertical-align: top;
    /*z-index: 0;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;*/
}

#DivSearch {
    color: #666;
}


    #DivSearch .img1 {
        /*border-style: groove none groove none;
    border-width: thin;
    border-color: #C0C0C0;*/
        z-index: 11;
        min-width: 1px;
        padding-right: 5px;
    }

    #DivSearch .span1:first-child {
        border-style: solid none solid solid;
        border-width: thin;
        border-color: #C0C0C0;
        font-size: 14px;
        padding-top: 4px;
        padding-bottom: 5px;
        min-height: 19px;
        vertical-align: baseline;
        padding-left: 3px;
        position: relative;
        min-width: 100px;
    }


    #DivSearch .span1 {
        border-style: solid none solid none;
        border-width: thin;
        border-color: #C0C0C0;
        font-size: 14px;
        padding-top: 4px;
        padding-bottom: 5px;
        min-height: 19px;
        vertical-align: baseline;
        padding-left: 3px;
        width: 60px;
        min-width: 56px;
    }

        #DivSearch .span1:last-of-type {
            border-style: solid solid solid none;
            border-width: thin;
            border-color: #C0C0C0;
            font-size: 14px;
            padding-top: 4px;
            padding-bottom: 5px;
            min-height: 19px;
            vertical-align: baseline;
            padding-left: 3px;
            min-width: 100px;
        }



    #DivSearch .img2 {
        vertical-align: middle;
        cursor: pointer;
        /*min-width: 16px;*/
    }

        #DivSearch .img2:active {
            opacity: 0.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

        #DivSearch .img2:active {
            vertical-align: middle;
            cursor: pointer;
            margin-top: 2px;
        }

/*PopUpMenu*/
#divMenuCat {
    border: thin solid #C0C0C0;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 460px;
    display: none;
}

    #divMenuCat ul {
        list-style-type: none;
        margin-left: -40px;
        color: #008595;
        font-size: 13px;
    }


    #divMenuCat li {
        border-width: thin;
        border-color: #C0C0C0;
        list-style-type: none;
        padding: 4px;
        display: inline-block;
        width: 140px;
        border-bottom-style: dotted;
    }


    #divMenuCat label {
        width: 150px;
        padding-right: 4px;
    }

    #divMenuCat li:hover {
        /*background-color:#cae3fc;*/
        background-color: #E3F0F1;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 1px 1px 1px #888;
        -webkit-box-shadow: 1px 1px 1px #888;
        box-shadow: 1px 1px 1px #888;
    }




/*Input Box*/
#txtInputsearch {
    border: thin none #FFFFFF;
    /*min-height: 19px;*/
    width: 300px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}



#DivResult {
    position: relative;
    padding: 4px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 750px;
    min-width: 750px;
}

#bodyContainer {
    position: relative;
    min-height: 100%;
    width: 100%;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: white;
    top: -15px;
    left: -10px;
}











/*Common*/
/*Button*/
.button {
    -moz-box-shadow: 50px 50px 0px -50px #cae3fc;
    -webkit-box-shadow: 50px 50px 0px -50px #cae3fc;
    box-shadow: 50px 50px 0px -50px #cae3fc;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79bbff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 15px;
    text-decoration: none;
    text-shadow: 1px 0px 0px #287ace;
    cursor: pointer;
    /*behavior:url(http://localhost:29425/css/PIE.htc);*/
}

    .button:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
        background: -moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
        background-color: #4197ee;
    }

    .button:active {
        position: relative;
        top: 1px;
    }



#btnFilterSize {
    width: 55px;
    margin-left: 1px;
}

.subbutton {
    text-align: center;
    -moz-box-shadow: inset 0 1px 0 #529E21,inset 1px 0 0 #4A911C,inset -1px 0 0 #4A911C,inset 0 -1px 0 #3D7F12,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 0 #529E21,inset 1px 0 0 #4A911C,inset -1px 0 0 #4A911C,inset 0 -1px 0 #3D7F12,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 0 #529E21,inset 1px 0 0 #4A911C,inset -1px 0 0 #4A911C,inset 0 -1px 0 #3D7F12,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
    background: #6DBD45;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6DBD45), color-stop(1, #5EAD2F));
    background: -moz-linear-gradient(center top, #6DBD45 20%, #5EAD2F 100%);
    padding: 0;
    margin: 0;
    height: 27px;
    line-height: 27px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

    .subbutton:hover {
        background: #6DBD45;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #5EA534), color-stop(1, #519327));
        background: -moz-linear-gradient(center top, #5EA534 20%, #519327 100%);
    }

    .subbutton:active {
        position: relative;
        top: 1px;
    }






#Divcat {
    width: 100%;
}



.Cat_20 {
    vertical-align: text-top;
    width: 18%;
    min-height: 100px;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: thin dotted #CCCCCC;
    background-color: #F3F3F3;
}

.cat_title {
    padding-left: 5px;
    /*font-weight:bold;*/
    font-size: 14px;
    text-align: left;
    color: #fff;
    background-color: #2295AB;
    min-height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    /*padding-left: 2px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-box-shadow: 0 8px 6px -6px #C0C0C0;
    -moz-box-shadow: 0 8px 6px -6px #C0C0C0;
    box-shadow: 0 8px 6px -6px #C0C0C0;
}

    .cat_title a {
        color: #fff;
        text-decoration: none;
    }

        .cat_title a:hover {
            border-width: thin;
            color: orange;
            border-bottom-style: dotted;
        }

    .cat_title img {
        border: 0px;
        vertical-align: text-bottom;
        min-width: 25px;
    }

.cat_item {
    padding-left: 8px;
    text-align: left;
    font-size: small;
}

    .cat_item a {
        font-size: 12px;
        color: #008595;
        text-decoration: none;
        font-weight: normal;
    }

        .cat_item a:active {
            font-size: 12px;
            color: #008595;
        }

        .cat_item a:hover {
            border-width: thin;
            font-size: 12px;
            color: orange;
            border-bottom-style: dotted;
        }






/*Common*/
.ArrowSeleted {
    background-image: url('../icon/arrow_csr.png');
    background-repeat: no-repeat;
    background-position: 46px -9px;
    z-index: 100;
}


.ArrowSeletedUp {
    background-position: 32px 16px;
    background-image: url('../icon/arrow_csr_up.png');
    background-repeat: repeat;
    min-height: 35px;
    width: 15px;
    display: inline-block;
}

.MsgNodata {
    /*width: 50%;*/
    /*text-align: center;*/
    padding-top: 30px;
    text-align: center;
    background-color: #FFFFFF;
    z-index: 10;
    top: 100px;
    left: 140px;
    /*position:absolute;*/
}




/*Begin Details=============================================================================================================================*/


.LinkBackHead {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.MainDetail {
    margin-top: 3% !important;
}

#CatHead {
    /*background-image: url('../images/howiStockWorks.jpg');*/
    background-repeat: no-repeat;
    text-align: center;
}

#CatMenu {
    z-index: 100;
}

    #CatMenu ul {
        border-width: thin;
        border-color: #FF0000;
        text-align: left;
    }

    #CatMenu li {
        margin: 3px;
        border: thin none #C0C0C0;
        display: inline-block;
        list-style-image: none;
        list-style-type: none;
        padding-top: 5px;
        padding-left: 8px;
        padding-right: 8px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        background-color: #2295AB;
        min-height: 30px;
        min-width: 70px;
    }


        #CatMenu li:hover {
            -moz-transform: rotate(-7deg);
            -moz-box-shadow: 10px 10px 20px #000000;
            -webkit-transform: rotate(-5deg);
            -webkit-box-shadow: 10px 10px 20px black;
            transform: rotate(-5deg);
            box-shadow: 5px 5px 5px #000000;
        }


.catselected {
    -moz-transform: rotate(-7deg);
    -moz-box-shadow: 10px 10px 20px #000000;
    -webkit-transform: rotate(-5deg);
    -webkit-box-shadow: 10px 10px 20px black;
    transform: rotate(-5deg);
    box-shadow: 5px 5px 5px #000000;
}

#divAdLeft {
    clear: left;
    float: left;
    width: 130px;
    margin-top: 40px;
}

#CatHighlight {
    border-style: dotted none solid none;
    border-width: thin;
    border-color: #ccc;
    margin-top: 40px;
    position: relative;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    display: none; /*height: 192px;*/
    height: 100%;
    width: 730px;
    vertical-align: top;
    text-align: center;
    float: left;
    margin-bottom: 5px;
    background-color: #E8E8E8;
}

    #CatHighlight p {
        text-align: left;
        width: auto;
        color: #333333;
        font-size: 13px;
    }

#divAdRight {
    clear: right;
    float: left;
    width: 130px;
    margin-top: 40px;
}



#CatHighlight p::first-letter {
    padding-left: 16px;
}

.close_Hilight {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 1300;
    background-image: url('/scripts/fancybox_sprite.png');
}


#CatSortBy {
    background-color: aquamarine;
    width: 100%;
}


#CatSortBy_Filter {
    float: right;
    width: 200px;
    margin-right: 50px;
}

    #CatSortBy_Filter span {
        width: 50px;
        cursor: pointer;
        padding: 3px;
    }

    #CatSortBy_Filter .selectedOrder {
        /*EF7619*/
        color: #fff;
        background: #EF7619;
        /*color: green;
            background: #FED900;*/
        text-decoration: none;
        height: 22px;
        position: relative;
        padding: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; /*background-color: #E3F0F1;*/
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }










/*Font Logo Stlyte*/
.char1, .char2, .char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10, .char11, .char12 {
    display: inline-block;
    width: 1em;
    /*margin-left: 8px;*/
    /*background-color: #afdddf;*/
    font-family: Georgia;
    text-align: center;
    font-size: 1.7em;
    line-height: 1em;
    /*-webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    border-radius: 1.3em;
    -webkit-box-shadow: 0px 0px 5px RGBA(200,200,200,30);
    box-shadow: 0px 0px 5px RGBA(200,200,200,30);
    -moz-box-shadow: 0px 0px 5px RGBA(200,200,200,30);
    text-transform: none;
    text-decoration: none;*/
    /*-webkit-border-radius: 1.3em;
    -moz-border-radius: 1.3em;*/
    /*border-radius: 1.3em;*/
    text-transform: none;
    text-decoration: none;
}

.char1 {
    color: #F69D39;
    /*-webkit-box-shadow: 0px 0px 5px #F2A0A7;
    box-shadow: 0px 0px 5px #F2A0A7;
    -moz-box-shadow: 0px 0px 5px #F2A0A7;*/
}

.char2 {
    /*#9BC458*/
    color: #D7DA57;
    /*-webkit-box-shadow: 0px 0px 5px #94BF4C;
    box-shadow: 0px 0px 5px #94BF4C;
    -moz-box-shadow: 0px 0px 5px #94BF4C;*/
}

.char3 {
    color: #00B5EC;
    /*FCE486*/
    /*-webkit-box-shadow: 0px 0px 5px #EEAE26;
    box-shadow: 0px 0px 5px #EEAE26;
    -moz-box-shadow: 0px 0px 5px #EEAE26;*/
}

.char4 {
    color: #E066A1;
    /*-webkit-box-shadow: 0px 0px 5px #7D4F97;
    box-shadow: 0px 0px 5px #7D4F97;
    -moz-box-shadow: 0px 0px 5px #7D4F97;*/
}

.char5 {
    color: #01AF96;
    /*-webkit-box-shadow: 0px 0px 5px #EF8850;
    box-shadow: 0px 0px 5px #EF8850;
    -moz-box-shadow: 0px 0px 5px #EF8850;*/
}

.char6 {
    color: #E85739;
    margin-left: -20px;
}

.char7 {
    /*color:#25A2DC;
background-color: #EF8850;*/
    color: #FFF;
    background-color: #C0C0C0;
    /*-webkit-box-shadow: 0px 0px 5px #4894BE;
    box-shadow: 0px 0px 5px #4894BE;
    -moz-box-shadow: 0px 0px 5px #4894BE;*/
    -webkit-box-shadow: 0px 0px 5px #C0C0C0;
    box-shadow: 0px 0px 5px #C0C0C0;
    -moz-box-shadow: 0px 0px 5px #C0C0C0;
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-box-shadow: 0 8px 6px -6px #C0C0C0;
    -moz-box-shadow: 0 8px 6px -6px #C0C0C0;
    box-shadow: 0 8px 6px -6px #C0C0C0;
}

.char8 {
    color: #E94894;
}

.char9 {
    color: #F49B38;
}

.char10 {
    color: #96D9F4;
}

.char11 {
    color: #01AF96;
}

.char12 {
    color: #E066A1;
}

h1 {
    color: #FC5F18;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    visibility: hidden;
}


p {
    -webkit-transition: background-color .25s linear;
    -moz-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    -transition: background-color .25s linear;
    cursor: pointer;
}


.logoHeadItem {
    font-size: 26px;
    /*For Test Google*/
}

    .logoHeadItem span:hover {
        /*background-color:#f1b5c8;*/
        opacity: .4;
        cursor: pointer;
    }
/*End Lgogo*/





.highlight {
    color: #E85739;
}


/*for loading page*/
/*#loading-image {
	background-color: #333;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1120;
 
 
}*/

::selection {
    background: #FF5A14;
    color: #FFF;
}
