<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <!-- <div id ="DivMetro">
    <div><img src="../images/Metro/1.jpg" /></div>
    <div><img src="../images/Metro/2.jpg" /></div>
    <div><img src="../images/Metro/3.jpg" /></div>
    <div><img src="../images/Metro/4.jpg" /></div>
    <div><img src="../images/Metro/5.jpg" /></div>
    <div><img src="../images/Metro/6.jpg" /></div>
    <div><img src="../images/Metro/7.jpg" /></div>
    <div><img src="../images/Metro/8.jpg" /></div>
    <div><img src="../images/Metro/9.jpg" /></div>
    <div><img src="../images/Metro/10.jpg" /></div>
</div>-->
</body>
</html>




<script type="text/html" id="TemplateResultsTable">
    {#template MAIN}


    {#if $T.Main == "Y"}   
  <div id="DivMetro">
      {#/if}
      {#foreach $T.data as record} 
      
  <div class="DivblockImage">
     
      <div class="DivImg">
          <a   class="showpic" href="../ImageHandler.ashx?name={$T.record.name}&size=Full"  rel="{$T.record.title}  {$T.record.height}x{$T.record.width}  {$T.record.dec} ">
          <img src="../ImageHandler.ashx?name={$T.record.name}&size=Thumbnail"  title="{removeHtml($T.record.title)}" alt="{trim($T.record.title,'"')}"/>
              </a>
      </div>
      
      <div id="title_detail" > <b>{$T.record.catname_thai} ({$T.record.catname_eng})</b><br />
          
          <div class="htmlClass">
          {trim($T.record.title,'"')}   {$T.record.height}x{$T.record.width} </div><br/>
       
      </div>
   <div id="DivCountter" title="จำนวนผู้เข้าชม">{$T.record.ViewCount}</div>
  </div>


      {#/for}
     
        {#if $T.Main == "Y"}   
  </div>
      {#/if}

    {#/template MAIN}

 
 
</script>


