#DivMetro {
    position: relative;
    border: thin none white;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    

}


#DivMetro .DivblockImage {
    position: relative;
    display: inline-block;
    vertical-align:top;
    border: thin solid #ccc;
    width: 227px;
    height: 180px;
    min-width: 227px;
    min-height: 180px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; /*background-color: #E3F0F1;*/
}

#DivMetro .DivImg {
    width: 227px;
    height: 130px;
    background-color: ActiveCaption;
      vertical-align:  middle;
  text-align:center;
 
}

#DivMetro .DivImg  img{
    width: 227px;
height: 130px;
 border:none;
}



#title_detail {
text-align:left;
}

#DivCountter {
    color: white;
    font-weight: bold;
    /*margin-top: -10px;
    margin-left: 206px;*/

    top:160px;
    left :208px;
    width: 20px;
    height: 20px; /*background: #202020;*/
    font-size: 10px;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #6CCE3B;

     position:absolute;
}
/*#PagerDiv { 
 padding-top:5px;
 }*/