<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
        <!--<div id="CatMenu">
            <ul>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rattertertert greg</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
                <li>Cat</li>
                <li>dog</li>
                <li>Rat</li>
            </ul>
        </div>-->
</body>
</html>
<script type="text/html" id="TemplateResultsTable">
    {#template MAIN}

  <div id="CatMenu">
            <ul>
      {#foreach $T.data as record} 
    
       <li id="cat_{$T.record.subcat}">{$T.record.subname}</li>

      {#/for}
                        </ul>
      </div>

    </div>

    {#/template MAIN}

 
 
</script>