<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <iframe width="239" height="190" src="http://www.youtube.com/embed/yd9ikbqpESQ?autoplay=0&rel=0" frameborder="0"    style="clear:right;float:left;margin-left:10px;padding:4px;z-index:-1"></iframe><p>    This second paragraph has an...Offical LA Auto Show Carjam TV HD Car TV Show โดย CarjamRadio•1 เดือนที่ผ่านมา• 85,393 ครั้ง
CARJAM TV - Subscribe Here Now www.youtube.com For The Best Car Videos In The World Like Us Now On Facebook: www.facebook.com ...
HD</p>
</body>
</html>



<script type="text/html" id="TemplateResultsTable">
    {#template MAIN}
     <a id="aCloseFilter" class="close_Hilight" href="#"></a> 
     <iframe id="player" width="239" height="190" src="{$T.youtube}?autoplay=1&rel=0" frameborder="0"    style="clear:right;float:left;margin-left:10px;padding:4px;z-index:-1"></iframe>
     <p> {$T.meta_Description} </p>
    {#/template MAIN}
</script>
